{% extends 'base.html' %}
{% block title %}Reality breaking...{% endblock %}
{% block header %}<h1>The Darkness</h1>{% endblock %}
{% block content %}
<p>You are the son of the dead leader of the greatest army in the universe, and must go through random rooms generated through reality to find the four parts of the staff of power in order to fix reality and bring back the GAA. Along the way, you will face dangerous enemies, who require you to use the specific weapon you have to win. You start with the sword of power and must escape when facing enemies requiring other weapons.</p>
<form method="get" action="/game">
    <button type="submit">Start</button>
</form>
{% endblock %}
